body {
  padding: 1.6em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  margin: 0 auto;
  margin-top: 2em; /* for pixel-perfect alignment with the mockup */

  @media (min-width: $bp-large) {
    margin-top: 4.5em; /* for pixel-perfect alignment with the mockup */
  }
}



// The Card
section {
  > :first-child {
    border-radius: $rounded-border $rounded-border 0 0;
  }

  > :last-child {
    border-radius: 0 0 $rounded-border $rounded-border;
  }
  
  @media (min-width: $bp-large) {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 500px;

    > :first-child {
      border-radius: $rounded-border 0 0 $rounded-border;
    }

    > :last-child {
      border-radius: 0 $rounded-border $rounded-border 0;
    }
  }
}



// Card sections (or "columns" on wide viewports)

.card {
  padding: 3.2em;
  color: $transparent-white;
  background-color: var(--bg-color);
  max-width: 27em;

  @media (min-width: $bp-large) {
    max-width: 20.5em;
  }
}

.flow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100%;

  > * + * {
    margin-top: 1.9rem;
  }
  
  :last-child {
    @media (min-width: $bp-large) {
      margin-top: auto;
    }
  }
}

.section-one {
  --bg-color: #{$bright-orange};
}

.section-two {
  --bg-color: #{$dark-cyan};
}

.section-three {
  --bg-color: #{$very-dark-cyan};
}



// Footer

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1em;

  a {
    color: hsl(228, 45%, 44%);

    &:active,
    &:hover {
      text-decoration: none;
    }
  }
}